{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  <p class="list-groups"></p>
    {% for note in user.notes %}
    <li class="list-group-item"> {{note.data}}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <!-- ✕ -->
            <span class="delete-note" aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea class="form-control" name="note" id="note" cols="20" rows="10"></textarea>
    <br/>
    <div align="center">
        <button id="create-note" type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>

<!-- MODAL -->
<div class="container" id="container">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              Welcome to Albert Note App.
            </h4>
          </div>
          <div class="modal-body">
            <h2 class="modal-description" align="center" id="greeting"></h2>
            <div class="modal-text">
              <p>
                Just calm down, this website will give you all you want here!
              </p>
              <p style="font-size: 20px">Kindly make note below</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}